<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <header class="header">
    <nav class="navbar">
      <ul>
        <% if (!user) { %>
          <li><a class="button-link" href="/login"><button class="navbar-button">Log in</button></a></li>
          <% } else { %>
            <li><a class="active" href="/">Home</a></li>
            <li><a href='/profile?user="id"'>Profile</a></li>
            <li><a href="/users">Users</a></li>
            <li>
              <form action="/logout?_method=DELETE" method="POST">
                <button class="navbar-button" type="submit">Log Out</button>
              </form>
            </li>
            <% } %>
      </ul>
    </nav>
  </header>
  <div class="wrapper">
    <% if(locals.page){ %>
      <%- include(page) %>
        <%} else { %>
          <p>No page selected</p>
          <%}%>
  </div>
  <% if (user) { %>
    <% if (uploadDisplay !=false) { %>
      <a href="/upload"><button class="upload-button">Upload Image</button></a>
      <% }} %>
</body>

</html>