<!DOCTYPE html>
<html lang="en">

<head>
  <title>tasveer | <%= title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>

<body>
  <header class="header">
    <nav class="navbar">
      <ul>
        <% if (!user) { %>
          <li><a class="button-link" href="/login"><button class="navbar-button">Log in</button></a></li>
          <% } else { %>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/users">Users</a></li>
            <li>
              <form action="/logout?_method=DELETE" method="POST">
                <button class="navbar-button" type="submit">Log Out</button>
              </form>
            </li>
            <% } %>
      </ul>
    </nav>
  </header>
  <div class="wrapper <%= isProfilePage ? 'profile-page-wrapper' : '' %> <%= isUsersPage ? 'users-page-wrapper' : '' %>"">
    <% if(locals.page){ %>
      <%- include(page) %>
        <%} else { %>
          <div class="unknown-container">
            <img class="sticker" src="/images/error_ramen.png" alt="unknown page sticker">
            <p>That's strange! You seemed to have entered an unknown territory.</p>
            <p>GO BACK!!!</p>
          </div>
          <%}%>
  </div>
  <% if (user) { %>
    <% if (uploadDisplay !=false) { %>
      <a href="/upload"><button class="upload-button">Upload Image</button></a>
      <% }} %>
</body>

</html>