:root {
  --primary: #7E52A0;
  --secondary: #1B998B;
  --tertiary: #FF579F;
  --light: #F2F2F2;
  --bg: #EDE6E3;
  --dark: #121212;
}

body {
  font-family: Lato, Arial, Verdana, Tahoma, sans-serif;
  background-color: var(--bg);
  color: var(--dark);
}

.header {
  height: 6rem;
  width: 100%;
  border-bottom: 1px solid var(--dark);
}

.navbar {
  position: absolute;
  right: 2rem;
}

#navbarName {
  padding-left: 12px;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 2rem;
  text-decoration: none;
}

li a:hover {
  color: var(--secondary);
}

.sticker {
  width: 55%;
  margin-bottom: 1rem;
}

/* Sign-up, Sign-in Styles */

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

li a {
  color: var(--dark);
}

.login-container,
.register-container,
.logout-container {
  color: var(--light);
  text-align: center;
  background-color: var(--primary);
  padding: 2rem;
  border-radius: 4px;
  width: 20rem;
}

.input-box {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  padding: 1rem;
  margin-bottom: 2rem;
  width: 100%;
  border-radius: 0.5rem;
  border: none;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 1rem auto;
  color: #0E1114;
  font-size: 1.2rem;
  background: var(--light);
  border-radius: 0.5rem;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.submit,
.tertiary-button, .secondary-button {
  width: 100%;
}

.secondary-button {
  background-color: var(--secondary);
  color: var(--light);
}
.tertiary-button {
  background-color: var(--tertiary);
  color: var(--light);
}

.button-link {
  padding: 0rem;
}

.navbar-button {
  background-color: var(--secondary);
  color: var(--light);
  font-size: 1rem;
}

a {
  color: var(--light);
  text-decoration: none;
}

.submit:hover {
  color: var(--light);
  background: var(--secondary);
}

.upload-button {
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  z-index: 999;
  background-color: var(--light);
  color: var(--dark);
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}

.upload-button:hover {
  background-color: var(--primary);
  color: var(--light);
}
