<div class="login-container">
    <div class="title">
        <span>Login To Your Account</span>
    </div>
    <% if (locals.messages && messages.error) { %>
        <div class="error-message"><%= messages.error %></div>
      <% } %>
    <form method="POST" action="/login">
        <input class="input-box" type="email" id="user_email" name="user_email" placeholder="Email" required>
        <input class="input-box" type="password" id="user_password" name="user_password" placeholder="Password" required>
        <button class="submit" type="submit">Login</button>
    </form>
    <hr>
    <a href="/register"><button class="tertiary-button">Create Account</button></a>
    <a href="/"><button class="secondary-button">Explore</button></a>
</div>