<div class="logout-container">
    <img class="sticker" src="/images/exit.png" alt="exit sticker">
    <div class="title">
        <span class="title">You're successfully logged out!</span>
    </div>
    <span>Would you like to log back in?</span>
    <a href="/login"><button class="tertiary-button">Login</button></a>
</div>
</div>