<div class="posts-container">
    <div class="posts-card">
        <div class="posts-img">
            <img src="<%= image %> " alt="<%= alt %>" />
        </div>
        <br>
        <div class="posts-content">
            <span>@<%= user.username %></span>
            <br><span><%= caption %></span>
        </div>
    </div>
</div>
<div class="card-spacer"></div>