<div class="posts-container">
    <% images.forEach(image=> { %>
    <div class="posts-card">
        <div class="posts-img">
            <img src="<%= image.image_path %> " alt="<%= image.image_alt_text %>" />
        </div>
        <br>
        <div class="posts-content">
            <span>@<%= image.image_uploaded_by %></span>
            <br><span><%= image.image_caption %></span>
        </div>
    </div>
    <div class="card-spacer"></div>
    <% }); %>
</div>