<div class="upload-img-container">
    <img class="sticker" src="/images/upload.png" alt="upload sticker">
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <textarea class="input-box" type="text" id="image_caption" name="caption" placeholder="Write your caption..."></textarea>
      <input class="input-box" type="text" id="image_alt_text" name="alt_text" placeholder="Make your photo accessible by adding an alt-text">
      <p>
        <span class="content">Accepted file types are .jpg, .png, .gif</span>
        <% if (locals.messages && messages.error) { %>
          <div class="error-message"><%= messages.error %></div>
        <% } %>
        </p>     
      <input class="file-input" type="file" name="pic" id="pic" required />
      <button class="submit" type="submit">Upload</button>
    </form>
  </div>