<div id="user-list">
  <div class="title">
    <span class="title">Users</span>
  </div>
  <% users.forEach(user=> { %>
    <p>
      <%= user.username %> (<%= user.user_email %>)
    </p>
    <% }); %>
</div>