<div id="user-list">
  <div class="title">
    <span class="title">Users</span>
  </div>
  <% users.forEach(user=> { %>
    <p>
      <%= user.user_display_name %> | <%= user.username %> | <%= user.user_bio %> 
    </p>
    <% }); %>
</div>