<div id="user-list">
  <div class="title">
    <span class="title">Users</span>
  </div>
  <% users.forEach(user=> { %>
    <div class="user">
      <div class="user-image">
        <img src="<%= user.user_image_path %>" alt="User Image">
      </div>
      <div class="user-details">
        <p><%= user.user_display_name %></p>
        <p><%= user.username %></p>
        <p><%= user.user_bio %></p>
      </div>
    </div>
    <% }); %>
</div>